.wrapper {
    text-align: center;
}

.positionAlert {
    position: absolute;
    top: 50%;
}

.buttonAlert {
    color: #00B7FF;
    width: 66%;
    height: 41%;
    margin-top: -90px;
    margin-left: 60px;
}

.frase {
    margin-left: 30px;
}

.textAlertar {
    margin-top: 380px;
}